<!DOCTYPE html>
<html>
  <head>
    <title>windyStrava</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATm7MtKk178gAiyy9of9Du-8PJN54Tvbo&libraries=geometry">
    </script>

    <div id="page-body">
      <div id="segment-graph">
        <div id="legend">
          <div id="app-title">
            <h1>windyStrava</h1>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Segment ID</span>
            <input type="text" id="segment-id" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" onclick="updateGraph()">Go</button>
            </span>
          </div>
          <div class="random-group">
            <span>OR </span>
            <a id="random">click to view random segment</a>
          </div>
          <div id="display-settings">
            <h4>Display settings:</h4>
            <div class="input-group">
              <label class="radio-inline"><input type="radio" checked="checked" value="M" name="gender">Men</label>
              <label class="radio-inline"><input type="radio" value="F" name="gender">Women</label>
            </div>
            <div class="col1">
              <div class="checkbox">
                <label><input type="checkbox" id="wind-select" value="true">Wind</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" id="hr-select" value="">Heart Rate</label>
              </div>
            </div>
            <div class="col2">
              <div class="checkbox">
                <label><input type="checkbox" name="watt-select" value="">Wattage</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="temp-select" value="">Temperature</label>
              </div>
            </div>
          </div>
          <div id="map">
          </div>
        </div>
        <div id="graph">
          <div id="segment-name-area">
            <h3 id="segment-name">
            </h3>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>