<!DOCTYPE html>
<html>
  <head>
    <title>Strava+wind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATm7MtKk178gAiyy9of9Du-8PJN54Tvbo&libraries=geometry">
    </script>

    <div id="page-body">
      <div id="segment-graph">
        <div id="legend">
          <div id="app-title">
            <img src="/static/title.png" alt="STRAVA+wind">
            <div id="app-description">
            Compare wind speeds for the top times on any Strava segment
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Segment ID</span>
            <input type="text" id="segment-id" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" id="go-button">Go</button>
            </span>
          </div>
          <div class="input-group gender">
              <label class="radio-inline"><input type="radio" checked="checked" value="M" name="gender">Men</label>
              <label class="radio-inline"><input type="radio" value="F" name="gender">Women</label>
            </div>
          <div class="random-group">
            <span>OR </span>
            <a id="random">click to view random segment</a>
          </div>
          <h4 id="map-title">Segment map:</h4>
          <div id="map">
          </div>
        </div>
        <div id="graph">
          <div id="segment-name-area">
            <a id="segment-name" target="_blank">
            </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>